.container {
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  background-color: bisque;
  border-radius: 10px;
  justify-content: center;
  font-family: sans-serif;
  max-width: 800px;
}

h1 {
  color: lightcoral;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: lightcoral;
  color: white;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  width: 400px;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
